<div class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Brand Name</th>
      <th>Model Year</th>
      <th>Brand Id</th>
      <th>Color Id</th>
      <th>Description</th>
      <th>Color Name</th>
      <th>Daily Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.carId}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.brandId}}</td>
      <td>{{car.colorId}}</td>
      <td>{{car.description}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.dailyPrice}}</td>

    </tr>
  </tbody>

</div>
